.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.fotoPerfil img {
    border-radius: 50%; /* Torna a imagem circular */
    border: solid 10px rgb(7, 63, 136);
    align-content: flex-start;
    
}

@media (max-width: 1200px) {
    .fotoPerfil img{
        max-width: 330px;
        height: auto;
    
    }
    
}
@media (max-width: 750px) {
    .fotoPerfil img{
        max-width: 280px;
        height: auto;
    
    }

}
@media (max-width: 576px){
    .fotoPerfil img{
        max-width: 180px;
        height: auto;
        
    }
    
}
