.fotoPerfil img{
    background: linear-gradient(to right, #8a35c8, #85c018, #d200ee);
    background-size: 180% 180%; animation: gradient-animation 5s ease infinite;
    max-width: 22rem;
    border-radius: 50%;
}