.listaRedes{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding-bottom: 3rem;
}
@media (max-width: 48rem) {
    .listaRedes{
        padding-bottom: 2rem;
        
    }
}

@media (max-width: 20rem) {
    .listaRedes{
        padding-bottom: 1rem;
        
    }
}
