.cabecalho{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.cabecalho .logo{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
.cabecalho a:hover .logo{
    color: #096194;
    border: 2px solid #096194;
}

.cabecalho .menu li a{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    transition: 0.2s;
}
.cabecalho .menu li a:hover{
    background-color: #096194;
    color: #fff;
    border-radius: 3rem;
    transition: 0.2s;
}